{# app/Resources/views/Emails/registration.html.twig #}
<h1>Welcome to our site work.tn!</h1>

<h4> Hi!

{# example, assuming you have a route named "login" #}
VOUS AVEZ UN RENDEZ VOUS POUR ENTRETIENT LE {{ date|date}}


</h4>
<h3>Merci!</h3>
<h2>Cordiallement</h2>
